:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --highlight-color: #fa0707;
  --coral-color: #ff7f50;
  --light-color: #f4ece6;
  --blue-color: #38bff8;
  --grey-color: #434c58;
  --light-color: #f4ece6;
  --lightcoral-color: #edb9b9;
  --lightskyblue-color: #c9ecfb;
  --lightgreen-color: #09a539;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.section-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/img/programming.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.section-title {
  display: none;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider-container > input[type='radio'] {
  display: none;
}

.slider {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-width: 47vw;
  padding: 17% 0 12%;
  border-radius: 10%;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  gap: 2%;
}

.slider-title {
  align-self: flex-start;
  margin-bottom: -7%;
  margin-top: 3%;
  width: 80%;
  padding: 0 1%;
  width: 70%;
  color: var(--black-color);
  font-size: 1.2rem;
}

.slide-img {
  border: 0.5rem solid var(--black-color);
  border-radius: 5%;
  width: 70%;
  height: 100%;
}

.controls {
  width: 100%;
  display: flex;
  gap: 2.5%;
  align-items: center;
  justify-content: flex-end;
  margin-top: -12%;
  z-index: 2;
  padding-bottom: 30%;
}

.controls label:last-child {
  margin-right: 1%;
}

.controls label {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  background: var(--lightgreen-color);
  border: solid 0.2rem var(--black-color);
  border-radius: 100vw;
  line-height: 1;
  font-size: 1rem;
  cursor: pointer;
}

.controls label:hover {
  background-color: var(--white-color);
}

.slides {
  position: relative;
}

.slide {
  transition: transform 0.6s;
}

.dot-link {
  padding: 100%;
}

#dot2:checked ~ .slides .slide {
  transform: translateX(-100%);
}

#dot3:checked ~ .slides .slide {
  transform: translateX(-200%);
}

#dot4:checked ~ .slides .slide {
  transform: translateX(-300%);
}

#dot1:checked ~ .controls [for='dot1'],
#dot2:checked ~ .controls [for='dot2'],
#dot3:checked ~ .controls [for='dot3'],
#dot4:checked ~ .controls [for='dot4'] {
  background: none;
}

@media (max-width: 1330px) {
  .slider {
    max-width: 84vw;
  }
}

@media (max-width: 1024px) {
  .controls {
    margin-top: -20%;
    justify-content: center;
  }

  .controls label {
    width: 1.1rem;
    height: 1.1rem;
  }

  .slider-title {
    font-size: 0.9rem;
    margin-top: 12%;
    align-self: center;
    margin-bottom: -9%;
  }
}

@media (max-width: 513px) {
  .controls {
    margin-top: -24%;
  }
  .controls label {
    width: 0.8rem;
    height: 0.8rem;
  }

  .slider-title {
    font-size: 0.8rem;
    margin-top: 12%;
    align-self: center;
    margin-bottom: -9%;
  }
}

@media (max-width: 453px) {
  .controls {
    margin-top: -27%;
  }
  .controls label {
    width: 0.8rem;
    height: 0.8rem;
  }

  .slider-title {
    font-size: 0.7rem;
    margin-top: 12%;
    align-self: center;
    margin-bottom: -9%;
  }
}

@media (max-width: 393px) {
  .controls label {
    width: 0.7rem;
    height: 0.7rem;
  }

  .controls {
    margin-top: -33%;
    justify-content: center;
  }

  .slider-title {
    font-size: 0.7rem;
    margin-top: 10%;
    align-self: center;
    margin-bottom: -9%;
  }
}
