/* forum-regular - latin_cyrillic */
@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/forum-v14-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/forum-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
    url('./assets/fonts/roboto-v29-latin_cyrillic-100.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v29-latin_cyrillic-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('./assets/fonts/roboto-v29-latin_cyrillic-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v29-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/roboto-v29-latin_cyrillic-regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v29-latin_cyrillic-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('./assets/fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v29-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./assets/fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('./assets/fonts/roboto-v29-latin_cyrillic-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-v29-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --highlight-color: #fa0707;
  --coral-color: #ff7f50;
  --light-color: #f4ece6;
  --blue-color: #38bff8;
  --grey-color: #434c58;
  --light-color: #f4ece6;
  --lightcoral-color: #edb9b9;
  --lightskyblue-color: #c9ecfb;
  --lightyellow-color: #f7fa96;
}

html {
}

a {
  text-decoration: none;
}

a,
button,
li {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
  height: 100%;
}

li {
  list-style-type: none;
}

body {
  background-image: url('./assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  min-height: 100vh;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 1em 0;
}

.section__slider {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main {
  background-color: #be99c4;
  padding: 1em;
  border-radius: 2%;
  border: 0.2em solid var(--white-color);
}

.slider {
  display: grid;
  place-items: center;
  gap: 0.5em;
  width: 35vw;
  overflow: hidden;
}

.slider__radio-btn {
  display: none;
}

.slider__slides {
  justify-self: start;
  width: 500%;
  height: auto;
  grid-row: 1/3;
  grid-column: 1/5;
  display: flex;
  scroll-behavior: smooth;
}

.slide {
  width: 100%;
  height: auto;
  transition: transform 0.6s;
  border: 0.2em solid var(--white-color);
  border-radius: 1%;
}

.slide-img {
}

.slider__desc {
  grid-row: 3/4;
  grid-column: 1/4;
  border-radius: 1%;
  width: 100%;
  height: 100%;
  min-height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide__description {
  display: none;
  padding: 0.5em;
}

#radio-btn1:checked ~ .slider__desc .slide__description:nth-child(1) {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
}

#radio-btn2:checked ~ .slider__desc .slide__description:nth-child(2) {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
}

#radio-btn3:checked ~ .slider__desc .slide__description:nth-child(3) {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
}

#radio-btn4:checked ~ .slider__desc .slide__description:nth-child(4) {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
}

#radio-btn5:checked ~ .slider__desc .slide__description:nth-child(5) {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.slide__text {
  font-family: 'Forum', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 97%;
  color: var(--black-color);
}

.slider__controls {
  grid-row: 3;
  width: 50%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.controls__btn {
  cursor: pointer;
  padding: 0.5em;
}

.controls__btn-dot {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-color: #ffece5;
  border-radius: 50%;
  transition: 0.5s;
  border: 0.3em solid var(--black-color);
}

.controls__btn-dot:hover {
  background-color: #ffcc93;
}

.controls__btn-dot:active {
  background-color: #3b557d;
}

#radio-btn1:checked ~ .slider__controls [for='radio-btn1'] .controls__btn-dot,
#radio-btn2:checked ~ .slider__controls [for='radio-btn2'] .controls__btn-dot,
#radio-btn3:checked ~ .slider__controls [for='radio-btn3'] .controls__btn-dot,
#radio-btn4:checked ~ .slider__controls [for='radio-btn4'] .controls__btn-dot,
#radio-btn5:checked ~ .slider__controls [for='radio-btn5'] .controls__btn-dot {
  background: none;
}

#radio-btn1:checked
  ~ .slider__controls
  [for='radio-btn1']
  .controls__btn-dot:hover,
#radio-btn2:checked
  ~ .slider__controls
  [for='radio-btn2']
  .controls__btn-dot:hover,
#radio-btn3:checked
  ~ .slider__controls
  [for='radio-btn3']
  .controls__btn-dot:hover,
#radio-btn4:checked
  ~ .slider__controls
  [for='radio-btn4']
  .controls__btn-dot:hover,
#radio-btn5:checked
  ~ .slider__controls
  [for='radio-btn5']
  .controls__btn-dot:hover {
  border: 0.3em solid #ffe2c4;
}

#radio-btn1:checked ~ .slider__slides .slide {
  transform: translateX(0%);
}

#radio-btn2:checked ~ .slider__slides .slide {
  transform: translateX(-100%);
}

#radio-btn3:checked ~ .slider__slides .slide {
  transform: translateX(-200%);
}

#radio-btn4:checked ~ .slider__slides .slide {
  transform: translateX(-300%);
}

#radio-btn5:checked ~ .slider__slides .slide {
  transform: translateX(-400%);
}

@media (max-width: 1500px) {
  .slider {
    width: 45vw;
  }
}

@media (max-width: 910px) {
  .slider__desc {
    grid-row: 4/5;
    grid-column: 1/5;
  }

  .slider__controls {
    grid-row: 3/4;
    grid-column: 1/5;
  }

  .slider__controls {
    margin-top: 1em;
  }

  .slider {
    width: 70vw;
  }
}

@media (max-width: 520px) {
  .slide__text {
    font-size: 1em;
  }

  .slider__controls {
    gap: 0;
  }
}

@media (max-width: 385px) {
  .controls__btn {
    padding: 0.3em;
  }
}
